/**
 * Application & Navbar
 */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: white;
  background: #0ac2d2;
  overflow: scroll; }

.container-fluid {
 /*margin-top: 70px;*/
  padding: 0;
}

.navbar > .container > .navbar-header, .navbar > .container-fluid > .navbar-header {
  width: 100%; }

/*
.container-fluid {
    margin-top: 70px;
}
.navbar > .container-fluid > .navbar-header > .navbar-nav-center {
    position: absolute;
    left: 40%;
    display: block;
    width: 20%;
    text-align: center;

    float: left;
    margin: 0;
}*/
.row-no-padding > [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.col-xs-0 {
  width: 0%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
.plus{
    background-color: transparent;
    border: none;
    margin-top: 10px;
}
.navbar-header a{
    vertical-align: middle;
}
.margin_icon_top{
    margin: 5px 0px 0px 15px;
}
.gly_appear{
    padding: 0px;
    display: block;
    float: left;
    margin-bottom: 15px;
}
.gly_appear button{
    background-color: #fff;
    font-size: 30px;
    margin: 1px;
}
.icon_text{
    font-size: 11px;
}
.gly_md .correct_font {
    font-family: 'Helvetica';
}
.gly_md >button{
    font-size:16px;
    background-color: #fff;
    padding: 6px 15px 6px 15px;
    border: 1px solid #000;
}
.show_all{
    margin-right: 0px;
}
.p-attached{
   /* height: 200px;
    width: 200px;*/
}
.green-label{
    background-color: #60d7a9;
    color: #fff;
    margin: 0px;
}
.orange-label{
    background-color: #ff920a;
    color: #fff;
    margin: 0px;
}
.toolbar-tools{
    font-size: 20px;
}
.toolbar-tools > button{
    background-color: transparent;
    border: 1px solid #ededed;
}
.blue-label{
    background-color: cornflowerblue;
    color: #fff;
    margin-bottom: 2px;
}
#title-toDo{
    margin-bottom: 34px;
}
/*.form-text-editor{
    margin-top: 15px;
}*/
form.well{
    background-color: transparent;
}
.empty-row{
    margin-bottom: 20px;
}
.btn-submit{
    position: relative;
    left: 115px;
    bottom: 33px;
}
