/**
* From: http://tympanus.net/Development/PageTransitions/
*/
.pt-perspective, #viewport {
  /*position: relative;
    width: 100%;
    height: 100%;*/
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px; }

.pt-page, .page {
  /*position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;*/
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.pt-page-current {
  visibility: visible;
  z-index: 1; }

/**
* PAGES
    http://bl.ocks.org/mbostock/5577023
*/
#viewport {
  position: absolute;
  /*relative*/
  width: 100%;
  height: 100%;
  margin: 0;
  /*	padding: 51px 0 0 0;
    top: 0;
    right: 0;*/ }

.page {
  height: 100%;
  margin-top: 51px;
  /*	-webkit-transition: width 0.3s ease, margin 0.3s ease;
    -moz-transition: width 0.3s ease, margin 0.3s ease;
    -o-transition: width 0.3s ease, margin 0.3s ease;
    transition: width 0.3s ease, margin 0.3s ease;*/ }

.page h1 {
  position: relative;
  font-weight: 300;
  font-size: 2em;
  line-height: 1;
  letter-spacing: 6px;
  margin: 0;
  top: 12%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  word-spacing: -0.3em; }

.page#page-challenger {
  /*background: #0ac2d2; */
    padding: 0px;
}


.page#page-todo {
  background: #7bb7fa;
  /*	position: relative;*/
  /*	width: 41.66666667%;*/
  /*	width: 40%;*/ }

.page#page-events {
  background: #60d7a9;
  /*	position: relative;*/
  /*	width: 41.66666667%;
    right: 41.66666667%;*/
  /*	width: 40%;
    left: 40%;*/ }

.page#page-filters {
  background: #fdc162;
  /*	position: relative;*/
  /*	left: 66.66666667%;*/
  /*	width: 20%;
    left: 80%;*/ }
#page-filters >.well {
    background-image: transparent;
}
.page#page-charts {
  background: #fd6a62;
  /*	left: 20%;
    width: 80%;*/ }

.page#page-modal {
  background-color: #e5c494; }

.page#page-credits {
  background: #f68dbb; }
