/**
 * vComponent
 */
/*.vcomponent-background {
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.1);
}*/
.vcomponent-item {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 0px solid #000000;

    background-size: cover;

    margin: 25px;
    width: 300px;
    height: 300px;
/*	width: 99%;height: 99%;*/
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}
.vcomponent-item:hover {
    -webkit-box-shadow: 0px 0px 5px 3px rgba(131,34,18,0.75);
    -moz-box-shadow: 0px 0px 5px 3px rgba(131,34,18,0.75);
    box-shadow: 0px 0px 5px 3px rgba(131,34,18,0.75);
}
.vcomponent-item .h-event {
    width: 100%;height: 100%;
}
/*.vcomponent-item .aside {
    position: relative;
    top: 0;
    left: -10px;
    background: rgba(240, 240, 240,.95);
    width: auto;
}*/
.vcomponent-item .ribbon, .vcomponent-item .extended {
    color: rgb(240, 240, 240);
    position: relative;
    width: 100%;
    height: 50%;
    padding: 10px;
    overflow: hidden;
}
.vcomponent-item .ribbon {
    /*background: rgba(60,60,60,.9);*/
    /*background: rgba(168,46,25,.9);*/
    background: rgba(231,76,60,1);
    border-bottom: 3px solid rgba(131,34,18,1);
    top: 40%;
    height: 20%;min-height: 20%;
}
.vcomponent-item .ribbon .p-summary {
    margin: 0px;
    text-shadow: 0 1px 0 #111;
/*	text-shadow: -1px -1px 0px rgba(0,0,0,0.2);*/
}
.vcomponent-item .extended {
/*	background: rgba(50,50,50,.9);*/
    background: rgba(168,46,25,.9);

    top: 40%;
    height: 40%;min-height: 40%;
}
/*
.vcomponent-item .p-attached {
    height: auto;
    max-width: 100%;
    max-height: none;
    position: absolute;
    left: 0;
    top: 0;
}
*/


/*
 * High Priority
 */
.vcomponent-item.vcomponent-item-high-priority {
    width: 300px;
    height: 300px;
}


/*
* High Priority
*/
.vcomponent-item.vcomponent-item-medium-priority {
    width: 200px;
    height: 200px;
}


/*
 * Low Priority
 */
.vcomponent-item.vcomponent-item-low-priority {
    width: 70px;
    height: 70px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}
.vcomponent-item.vcomponent-item-low-priority:hover {
    -webkit-box-shadow: 0px 0px 5px 3px rgba(131,34,18,0.75);
    -moz-box-shadow: 0px 0px 5px 3px rgba(131,34,18,0.75);
    box-shadow: 0px 0px 5px 3px rgba(131,34,18,0.75);
}
.vcomponent-item.vcomponent-item-low-priority .ribbon {
    min-height: 100%;height: 100%;max-height: 100%;
    min-width: 100%;width: 100%;max-width: 100%;
    border: 1px solid black;
}
.vcomponent-item.vcomponent-item-low-priority .h-event {
    min-height: 100%;height: 100%;max-height: 100%;
    min-width: 100%;width: 100%;max-width: 100%;
}
.vcomponent-item.vcomponent-item-low-priority .ribbon .p-summary {
    font-size: 15px !important;
}
.vcomponent-item.vcomponent-item-low-priority .extended {
    display: none;
}
