// ==========================================================================
// Variables - Colors
// ==========================================================================

$light-color-theme01: rgb(242,144,0);
$dark-color-theme01: rgb(253,88,8);


$light-color-theme02: rgb(189,199,0);
$dark-color-theme02: rgb(117,127,8);


$light-color-theme03: rgb(25,175,162);
$dark-color-theme03: rgb(3,94,93);


$light-color-theme04: rgb(227,0,105);
$dark-color-theme04: rgb(186,1,60);


// ==========================================================================
// Variables - Various
// ==========================================================================

$nav-mobile-height: 50px;
$toolbar-mobile-height: 63px;
$no-padding: 0px;

// ==========================================================================
// Variables - Challenger Toolbar Icons
// ==========================================================================

$toolbar-challenger-icons-height: 12px;
$toolbar-challenger-icons-width: 12px;
$toolbar-challenger-icons-margin-right: 24px;
