.agenda-withstart {
max-height:700px;
overflow:auto;
}

.agenda-withstart .agenda-day {
border: 1px solid #d1d1d1;
border-bottom: 0!important;
border-radius: 5px;
background: rgba(226,226,226,1);
background: -moz-linear-gradient(top,rgba(226,226,226,1) 0,rgba(254,254,254,1) 100%);
background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(226,226,226,1)),color-stop(100%,rgba(254,254,254,1)));
background: -webkit-linear-gradient(top,rgba(226,226,226,1) 0,rgba(254,254,254,1) 100%);
background: -o-linear-gradient(top,rgba(226,226,226,1) 0,rgba(254,254,254,1) 100%);
background: -ms-linear-gradient(top,rgba(226,226,226,1) 0,rgba(254,254,254,1) 100%);
background: linear-gradient(to bottom,rgba(226,226,226,1) 0,rgba(254,254,254,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0);
}

.agenda-withstart .agenda-day, .agenda-withstart .agenda-weekend, .agenda-withstart .agenda-weekend-day {
height: 100px;
min-height: 100px;
}

.agenda-withstart .agenda-weekend-day {
border-top:1px solid #d1d1d1;
border-bottom:1px solid #d1d1d1;
border-right:1px solid #d1d1d1;
border-radius:5px;
background:linear-gradient(tobottom,rgba(226,226,226,1) 0 100%;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2',endColorstr='#fefefe',GradientType=0);
}

.agenda-withstart .agenda-weekend>div:first-child {
padding-right:0;
}

.agenda-withstart .agenda-weekend>div:last-child {
padding-left:0;
}

.agenda-withstart .agenda-weekend>div:first-child>div {
border-left:1px solid #d1d1d1;
border-radius:5px;
}

.agenda-withstart .agenda-day-legend {
border-right: 1px solid #d1d1d1;
border-bottom: 1px solid #d1d1d1;
width: 50%;
margin-bottom: 3px;
padding-left: 5px;
font: 12px/20px 'Lucida Grande',Tahoma,Verdana,sans-serif;
color: #fff;
background: #282537;
background-image: -webkit-radial-gradient(top,circle cover,#3c3b52,#252233 80%);
background-image: -moz-radial-gradient(top,circle cover,#3c3b52,#252233 80%);
background-image: -o-radial-gradient(top,circle cover,#3c3b52,#252233 80%);
background-image: radial-gradient(top,circle cover,#3c3b52,#252233 80%);
border-radius: 5px;
-webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,.7),inset 0 2px 2px rgba(0,0,0,.3),0 1px rgba(255,255,255,.1);
box-shadow: inset 0 0 0 1px rgba(0,0,0,.7),inset 0 2px 2px rgba(0,0,0,.3),0 1px rgba(255,255,255,.1);
}
.agenda-withstart .agenda-day-events {
overflow: auto;
padding-right: 15px;
padding-left: 15px;
max-height: 74px;
}
.agenda-withstart .agenda-day-events > * {
border:1px solid #000;
background-color:#ff0;
margin:2px;
}


.agenda-withstart > .agenda-withstart-title {
border-bottom:1px solid #000;
margin-bottom:5px;
}

.agenda-withstart .agenda-weekend-day>.agenda-day-legend,.col-xs-9 {
width:75%;
}
